@use 'sass:math';

:root {
  --base-font-size: 16px;
}

// $base-font-size: var(--base-font-size);

// // function to convert px to rem
// @function rem($px) {
//   @return math.div($px, $base-font-size) * 1rem;
// }

@function rem($px) {
  @return calc(#{$px}px / var(--base-font-size) * 1rem);
}
