@use 'functions';
/* dm-sans-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 300;
  src: url(/assets/fonts/dm-sans-v17-latin-300.woff2) format('woff2');
}

/* dm-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/dm-sans-v17-latin-500.woff2) format('woff2');
}

/* dm-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  src: url(/assets/fonts/dm-sans-v17-latin-600.woff2) format('woff2');
}

/* dm-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/dm-sans-v17-latin-700.woff2) format('woff2');
}

/* dm-sans-700italic - latin */
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 700;
  src: url(/assets/fonts/dm-sans-v17-latin-700italic.woff2) format('woff2');
}

/* bricolage-grotesque-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/bricolage-grotesque-v9-latin-700.woff2) format('woff2');
}

@mixin text-preset-1 {
  font-family: 'DM Sans', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: functions.rem(96);
  line-height: 100%;
  letter-spacing: functions.rem(-2);
}

@mixin text-preset-2 {
  font-family: 'Bricolage Grotesque', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: functions.rem(52);
  line-height: 120%;
  letter-spacing: 0;
}

@mixin text-preset-3 {
  font-family: 'DM Sans', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: functions.rem(32);
  line-height: 100%;
  letter-spacing: 0;
}

@mixin text-preset-4 {
  font-family: 'DM Sans', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: functions.rem(28);
  line-height: 120%;
  letter-spacing: 0;
}

@mixin text-preset-5 {
  font-family: 'DM Sans', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: functions.rem(20);
  line-height: 120%;
  letter-spacing: 0;
}

@mixin text-preset-5-med {
  font-family: 'DM Sans', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: functions.rem(20);
  line-height: 120%;
  letter-spacing: 0;
}

@mixin text-preset-6 {
  font-family: 'DM Sans', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: functions.rem(18);
  line-height: 120%;
  letter-spacing: 0;
}

@mixin text-preset-7 {
  font-family: 'DM Sans', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: functions.rem(16);
  line-height: 120%;
  letter-spacing: 0;
}

@mixin text-preset-8 {
  font-family: 'DM Sans', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: functions.rem(14);
  line-height: 120%;
  letter-spacing: 0;
}
