@use 'functions';

/* Color Pallet */
// Neutral
$neutral-900: #02012c;
$neutral-800: #262540;
$neutral-700: #302f4a;
$neutral-600: #3c3b5e;
$neutral-300: #acacb7;
$neutral-200: #d4d3d9;
$neutral-000: #ffffff;

// Orange
$orange-500: #ff820a;

// Blue
$blue-700: #2b1b9c;
$blue-500: #4658d9;

/* Spacing Variables */
$spacing-000: 0;
$spacing-025: functions.rem(2);
$spacing-050: functions.rem(4);
$spacing-100: functions.rem(8);
$spacing-125: functions.rem(10);
$spacing-150: functions.rem(12);
$spacing-200: functions.rem(16);
$spacing-250: functions.rem(20);
$spacing-300: functions.rem(24);
$spacing-400: functions.rem(32);
$spacing-500: functions.rem(40);
$spacing-600: functions.rem(48);
$spacing-800: functions.rem(64);
$spacing-1000: functions.rem(80);
$spacing-1200: functions.rem(96);
$spacing-1400: functions.rem(112);
$spacing-1600: functions.rem(128);
$spacing-1800: functions.rem(140);

/* Radius Variables */
$radius-00: 0;
$radius-04: 4px;
$radius-06: 6px;
$radius-08: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-24: 24px;
$radius-full: 999px;
